<!DOCTYPE html>

{% load staticfiles %}

<html>

    <head>
        <title>Rango - about</Rango-about></title>
    </head>

    <body>
        <h1>here is the about page.</h1>
        <div>
            This tutorial has been put together by Jing Zhang.
            <strong>{{ boldmessage }}</strong><br />
        </div>
        
        <div>
            <a href="{% url 'rango:index' %}">Index</a><br />
            <img src="{% static 'images/rango.jpg' %}"
                 alt="Picture of Rango" />
        </div>

        </div>
            <img src="/media/cat.jpg" 
                 alt="Picture of a Cat">
        </div>
    </body>

</html>
